%h3 Edit Product
= simple_form_for @product do |f|
  = f.input :name, placeholder: "name"
  = f.input :category, collection: Product::CATEGORIES, placeholder: "category"
  = f.input :kal, placeholder: "calories"
  = f.submit 'Submit', class: 'btn btn-primary'
