!!!
%html
  %head
    %meta{content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Delicio
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    .container.mt-2
      .container
        - flash.each do |type, msg|
          %div{class: "alert #{bootstrap_class_for_flash(type)} alert-dismissable"}
            = msg
            %button.close{"data-dismiss" => "alert"} x
    .container.mt-5
      = yield
